.services-section {
  grid-column: 2 / 8;

  padding: 4rem 0;

  text-align: center;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
}

@media screen and (max-width: 93.75em) {
  .services-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 50em) {
  .services-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
}
