@keyframes bounceInFromBottom {
  0% {
    transform: translateY(40rem);
    opacity: 0;
  }

  70% {
    transform: translateY(-3rem);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(40rem);
    opacity: 0;
  }

  60% {
    transform: translateX(-3rem);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes growIntoFullSize {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.video-section {
  grid-column: 1 / -1;

  height: 100vh;
  width: 100vw;

  background-size: contain;

  overflow: hidden;
}

.video-section__content {
  position: absolute;
  left: 50%;
  top: 55%;
  z-index: 50;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  width: 75%;
  text-align: center;

  color: var(--color-white-default);
}

.video-section__content h1 span {
  display: block;
}

.video-section__content h1 {
  font-size: 6rem;
  margin: 0;

  animation-name: bounceInFromBottom;
  animation-duration: 1s;
}

.video-section__content span {
  font-size: 3rem;
  font-weight: 500;

  animation-name: slideInFromLeft;
  animation-duration: 2s;
}

.video-section__content button {
  margin-top: 1rem;

  animation-name: growIntoFullSize;
  animation-duration: 1s;
}

.video-player {
  width: 100%;
  filter: brightness(60%);
}

@media (min-aspect-ratio: 16/9) {
  .video-player {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-player {
    width: auto;
    height: 100%;
  }
}
