.cta-button {
  width: fit-content;

  padding: 1.5rem 2.5rem;
  border-radius: 3px;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);

  background-color: var(--color-yellow-default);
  color: var(--color-black-default);
  font-weight: 500;
  font-size: 2rem;

  outline: #000000 solid 1px;

  cursor: pointer;

  transition: all 0.15s;
}

.cta-button:hover {
  transform: scale(0.95);
  box-shadow: 6px 6px 12px 0px rgba(0, 0, 0, 0.35);
  outline: #000000 solid 2px;
}
